:root {
  /* --color-bg: #334600;
  --color-bg-variant: #07575b;
  --color-primary: #a2c523;
  --color-primary-variant: 093e3e;
  --color-white: #fff;
  --color-light: rgb(129, 236, 138);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease; */

  --dark: hsl(0, 0%, 3%);
  --highlight: #006989;
  --highlight-2: rgb(81, 141, 231);
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.bar-label {
  font-size: 0.75em;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-color {
  color: white;
  /* font-weight: bold; */
  background: var(--color-bg);
  margin-right: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  /* line-height: 1.7; */
  
  /* cat paw */
  background-image: radial-gradient(circle at 15% 20%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 25% 10%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 35% 10%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 45% 20%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 30% 30%, var(--dark) 10%, transparent 10%),
                    radial-gradient(circle at 45% 70%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 55% 60%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 65% 60%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 75% 70%, var(--dark) 5%, transparent 5%),
                    radial-gradient(circle at 60% 80%, var(--dark) 10%, transparent 10%),
                    linear-gradient(90deg, var(--color-bg), var(--color-bg));
  background-size: 70px 70px;
}